/*reseta css padrão do navegador*/
* {
  margin: 0;
  padding: 0;
  /*muda a maneira que conta o tamanho das caixas ignorando o padding e mantendo como padrão 580 px*/
  box-sizing: border-box;
}

ul{
  /*tira pontinhos da lista*/
  list-style: none;
}

body {
  /*Pega imagem para colocar no fundo*/
  background-image: url(./assets/bg.jpg);
  /*deixa imagem de fundo centaralizada*/
  background-position: top center;
  /*Se adapta a qualquer tamanho de tela*/
  background-size: 100% auto;
  /*Para não repetir imagem no fundo da tela*/
  background-repeat: no-repeat;
  background-color: #121214;
}

body * {
  font-family: 'Inter', sans-serif;
  line-height: 160%;
}

/*

main *{
  border: 1px solid red;
}*/

header {
  padding-top: 32px;
  height: calc(120px + 32px);
}

header div {
  width: 120px;
  margin: auto;

  background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
  border-radius: 50%;

  display: flex;
  padding: 4px;
}

header div:hover {
  transform: scale(1.1);

  transition: transform .3s;
}

header div img {
  width: 100%;
  border-radius: 50%;
}

main {
  max-width: 580px;
  width: 90%;
  margin: 32px auto;

  display:grid;
  gap: 24px;

  
}

section {
  color: white;

  background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
  padding-top: 4px;
  border-radius: 10px;
}

section div {
  background-color: #443E54;
  padding: 32px;
  padding-top: 24px;
  border-radius: 8px;
}

section h2 {

  letter-spacing: -0.47px;

}

section p {
  
  letter-spacing: -0.18px;
  color: #A1A1AA;
}

section ul {
  display: flex;
  gap: 16px;

  margin-top: 24px;
}

section ul li {
  transition: transform .3s
}

section ul li:hover {
  transform: scale(1.1)
}

.games-list img {
  width: 90px;
  flex-wrap:wrap;
  border-radius: 8px;
}

.channel-list img {
  border-radius: 50%;
  width: 70px;
  border: 1px solid #443E54
}

/*animation*/

header div {
  animation: fromTop .7s 4s backwards;
  
}

/*define animação*/
@keyframes fromTop {
  from {
    opacity:0;
    transform: translateY(-30px)
  }
/*posição finall da animação do imagem do header, onde 0 termina onde ele já está*/
  to{
    opacity: 1;
    transform: translateY(0)
  }
}